NODE_ENV=development
PORT=3000

# Master Database (Port 5432)
DB_MASTER_HOST=localhost
DB_MASTER_PORT=5432
DB_MASTER_USER=postgres
DB_MASTER_PASSWORD=postgres
DB_MASTER_NAME=nestarch

# Slave Database (Port 5433)
DB_SLAVE_HOST=localhost
DB_SLAVE_PORT=5433
DB_SLAVE_USER=postgres
DB_SLAVE_PASSWORD=postgres
DB_SLAVE_NAME=nestarch